{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}
{% import 'social-feeds/_macros' as customForms %}

{% include 'social-feeds/sources/_oauth' %}

<hr>

{% set endpoint = source.endpoint ?? 'page' %}

{{ forms.selectField({
    label: 'Page or Group' | t('social-feeds', { name: source.providerName }),
    instructions: 'Select whether to source content from a {name} Page or {name} Group.' | t('social-feeds', { name: source.providerName }),
    name: 'endpoint',
    options: [
        { label: 'Group' | t('social-feeds'), value: 'group' },
        { label: 'Page' | t('social-feeds'), value: 'page' },
    ],
    required: true,
    value: endpoint,
    warning: macros.configWarning("sources.#{source.handle}.endpoint", 'social-feeds'),
    errors: source.getErrors('endpoint'),
    toggle: true,
    targetPrefix: '.endpoint-',
}) }}

<div class="endpoint-group {% if endpoint != 'group' %}hidden{% endif %}">
    {{ customForms.providerSettingsField(source, {
        label: '{name} Group' | t('social-feeds', { name: source.providerName }),
        instructions: 'The {name} Group to pull content from.' | t('social-feeds', { name: source.providerName }),
        name: 'groupId',
        required: true,
    }) }}
</div>

<div class="endpoint-page {% if endpoint != 'page' %}hidden{% endif %}">
    {{ customForms.providerSettingsField(source, {
        label: '{name} Page' | t('social-feeds', { name: source.providerName }),
        instructions: 'The {name} Page to pull content from.' | t('social-feeds', { name: source.providerName }),
        name: 'pageId',
        required: true,
    }) }}
</div>

{% set inputs %}
{% set inputKey = random() %}

<div class="sf-switch-group" data-toggle-group="{{ "source-type-#{inputKey}" }} ">
    <div>
        <div class="sf-switch-label">{{ 'Feed' | t('social-feeds') }}</div>
        <div class="sf-switch-text">{{ 'Posts from your Facebook page.' | t('social-feeds') }}</div>
    </div>

    <div class="sf-switch">
        {{ forms.lightswitch({
            name: 'enableProfile',
            on: source.enableProfile,
            small: true,
        }) }}
    </div>
</div>

<div class="sf-switch-group" data-toggle-group="{{ "source-type-#{inputKey}" }} ">
    <div>
        <div class="sf-switch-label">{{ 'Photos' | t('social-feeds') }}</div>
        <div class="sf-switch-text">{{ 'Photos from your Facebook Photos page.' | t('social-feeds') }}</div>
    </div>

    <div class="sf-switch">
        {{ forms.lightswitch({
            name: 'enablePhotos',
            on: source.enablePhotos,
            small: true,
        }) }}
    </div>
</div>

<div class="sf-switch-group" data-toggle-group="{{ "source-type-#{inputKey}" }} ">
    <div>
        <div class="sf-switch-label">{{ 'Videos' | t('social-feeds') }}</div>
        <div class="sf-switch-text">{{ 'Videos from your Facebook Videos page.' | t('social-feeds') }}</div>
    </div>

    <div class="sf-switch">
        {{ forms.lightswitch({
            name: 'enableVideos',
            on: source.enableVideos,
            small: true,
        }) }}
    </div>
</div>

<div class="sf-switch-group" data-toggle-group="{{ "source-type-#{inputKey}" }} ">
    <div>
        <div class="sf-switch-label">{{ 'Events' | t('social-feeds') }}</div>
        <div class="sf-switch-text">{{ 'Events from your Facebook Events page.' | t('social-feeds') }}</div>
    </div>

    <div class="sf-switch">
        {{ forms.lightswitch({
            name: 'enableEvents',
            on: source.enableEvents,
            small: true,
        }) }}
    </div>
</div>

{% endset %}

{{ forms.field({
    label: 'Source Type' | t('social-feeds'),
    instructions: 'Select what types of content this source should provide.' | t('social-feeds'),
}, inputs) }}
