.sfui-posts {
    /**
    1. Correct the line height in all browsers.
    2. Prevent adjustments of font size after orientation changes in iOS.
    3. Use a more readable tab size (opinionated).
    */
    /*
    Sections
    ========
    */
    /**
    1. Remove the margin in all browsers.
    2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
    */
    /*
    Grouping content
    ================
    */
    /**
    1. Add the correct height in Firefox.
    2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
    */
    /*
    Text-level semantics
    ====================
    */
    /**
    Add the correct text decoration in Chrome, Edge, and Safari.
    */
    /**
    Add the correct font weight in Edge and Safari.
    */
    /**
    1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
    2. Correct the odd 'em' font sizing in all browsers.
    */
    /**
    Add the correct font size in all browsers.
    */
    /**
    Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
    */
    /*
    Tabular data
    ============
    */
    /**
    1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
    2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
    */
    /*
    Forms
    =====
    */
    /**
    1. Change the font styles in all browsers.
    2. Remove the margin in Firefox and Safari.
    */
    /**
    Remove the inheritance of text transform in Edge and Firefox.
    */
    /**
    Correct the inability to style clickable types in iOS and Safari.
    */
    /**
    Remove the inner border and padding in Firefox.
    */
    /**
    Restore the focus styles unset by the previous rule.
    */
    /**
    Remove the additional ':invalid' styles in Firefox.
    See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
    */
    --columns: 3;
    --gutter: 10px;
    --avatar-size: 30px;
    --header-padding: 10px;
    --content-padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter) * -1);
    margin-right: calc(var(--gutter) * -1);
}

.sfui-posts *,
.sfui-posts ::before,
.sfui-posts ::after {
    box-sizing: border-box;
}

.sfui-posts {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    -o-tab-size: 4;
    tab-size: 4; /* 3 */
}

.sfui-posts {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

.sfui-posts hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
}

.sfui-posts abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

.sfui-posts b,
.sfui-posts strong {
    font-weight: bolder;
}

.sfui-posts code,
.sfui-posts kbd,
.sfui-posts samp,
.sfui-posts pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

.sfui-posts small {
    font-size: 80%;
}

.sfui-posts sub,
.sfui-posts sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.sfui-posts sub {
    bottom: -0.25em;
}

.sfui-posts sup {
    top: -0.5em;
}

.sfui-posts table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
}

.sfui-posts button,
.sfui-posts input,
.sfui-posts optgroup,
.sfui-posts select,
.sfui-posts textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

.sfui-posts button,
.sfui-posts select {
    text-transform: none;
}

.sfui-posts button,
.sfui-posts [type=button],
.sfui-posts [type=reset],
.sfui-posts [type=submit] {
    -webkit-appearance: button;
}

.sfui-posts ::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.sfui-posts :-moz-focusring {
    outline: 1px dotted ButtonText;
}

.sfui-posts :-moz-ui-invalid {
    box-shadow: none;
}

.sfui-posts blockquote,
.sfui-posts dl,
.sfui-posts dd,
.sfui-posts h1,
.sfui-posts h2,
.sfui-posts h3,
.sfui-posts h4,
.sfui-posts h5,
.sfui-posts h6,
.sfui-posts hr,
.sfui-posts figure,
.sfui-posts p,
.sfui-posts pre {
    margin: 0;
}

.sfui-posts h1,
.sfui-posts h2,
.sfui-posts h3,
.sfui-posts h4,
.sfui-posts h5,
.sfui-posts h6 {
    font-size: inherit;
    font-weight: inherit;
}

.sfui-posts ol,
.sfui-posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sfui-posts img,
.sfui-posts svg,
.sfui-posts video,
.sfui-posts canvas,
.sfui-posts audio,
.sfui-posts iframe,
.sfui-posts embed,
.sfui-posts object {
    display: block;
    vertical-align: middle;
}

.sfui-posts img,
.sfui-posts video {
    max-width: 100%;
    height: auto;
}

.sfui-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.sfui-post-col {
    width: calc(100% / var(--columns));
    color: #3A3A3A;
}

.sfui-post {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    margin-bottom: calc(var(--gutter) * 2);
}

.sfui-header {
    border: 1px solid #cdd8e4;
    border-bottom: none;
    padding: var(--header-padding);
    font-size: 12px;
    background: #fff;
}

.sfui-header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3A3A3A;
}

.sfui-header .sfui-header-img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    margin-right: 10px;
}

.sfui-header .sfui-header-title {
    font-weight: 500;
}

.sfui-header .sfui-header-date {
    color: #62738e;
    margin-left: auto;
}

.sfui-iframe-wrap {
    --aspect-ratio: calc(9 / 16 * 100%);
    position: relative;
    width: 100%;
}

.sfui-iframe-wrap:before {
    display: block;
    padding-bottom: var(--aspect-ratio);
    content: "";
}

.sfui-iframe-wrap iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
}

.sfui-image {
    display: block;
    position: relative;
}

.sfui-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 61, 127, 0.2);
    display: block;
}

.sfui-content {
    border: 1px solid #cdd8e4;
    border-top: none;
    padding: var(--content-padding);
    font-size: 14px;
    background: #fff;
    word-break: break-word;
}

.sfui-content.no-media {
    font-size: 18px;
}

.sfui-meta {
    margin-top: 10px;
}

.sfui-provider-icon {
    --size: 20px;
    display: block;
    height: var(--size);
    width: var(--size);
    min-width: var(--size);
    line-height: var(--size);
    color: var(--color);
    margin-left: auto;
}

.sfui-provider-icon svg {
    width: 100%;
    height: 100%;
}
