{% macro providerSettingsField(source, config) %}
    {% import '_includes/forms' as forms %}
    {% import 'verbb-base/_macros' as macros %}

    {% if source.isConnected() %}
        {% set input %}
            {{ forms.select({
                id: config.name,
                name: config.name,
                options: source.getSourceSettings(config.name),
                value: source[config.name] ?? '',
            }) }}

            <button class="btn sf-btn-transparent" type="button" data-icon="refresh" data-refresh-settings="{{ config.name }}" data-source="{{ source.handle }}"></button>
        {% endset %}

        {{ forms.field({
            label: config.label,
            instructions: config.instructions,
            warning: macros.configWarning("sources.#{source.handle}.#{config.name}", 'social-feed'),
            errors: source.getErrors(config.name),
            required: config.required ?? false,
        }, input) }}
    {% else %}
        {{ forms.field({
            label: config.label,
            instructions: config.instructions,
            warning: 'Please connect to the provider to be able to configure “{setting}”.' | t('social-feed', { setting: config.label }),
        }) }}
    {% endif %}
{% endmacro %}

